[push]
        default = current
[pull]
        rebase = true
[user]
        name = Børge Bardo
[url "https://"]
        insteadOf = git://
[alias]
        lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
        st = status
        co = checkout
        ci = commit

[core]
        editor = vim
